---
layout: myDefault
---

<style>
    a:link {
      color: lightsteelblue; 
      background-color: transparent; 
      text-decoration: none;
    }
    
    a:visited {
      color: lightsteelblue;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:hover {
      color: whitesmoke;
      background-color: transparent;
      text-decoration: underline;
    }
    
    a:active {
      color: whitesmoke;
      background-color: transparent;
      text-decoration: underline;
    }
</style>

<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
  </header>

  <section> 
    <article class="main-wrapper text-center position-relative">
 <!--   {{ content }}   -->
        <div class="main-wrapper-inner mx-auto text-left bg-white shadow-lg">
            <header class="title-header pt-2 pt-md-0" style="background-color:darkslateblue">
                <div class="media flex-column flex-md-row">
                    <img class="mr-3 img-fluid picture mx-auto" src="https://avatars1.githubusercontent.com/u/59845032?s=460&v=4" alt="" width="220" height="220">
                    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
            
                      <div class="primary-info">
                        <h1 class="name mt-0 mb-1 text-uppercase text-white">Daniel Sims</h1>
                        <div class="title mb-3 text-white">SQL Developer</div>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="mailto:{{ site.email }}"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>{{ site.email }}</a>
                            </li>
                        </ul>
                      </div><!--//primary-info-->
            
                      <div class="secondary-info ml-md-auto mt-2">
                        <ul class="resume-social list-unstyled">
            
                          <li class="mb-3">
                            <a href="https://github.com/dancsims" target="_blank">
                              <span class="fa-container text-center mr-2">
                                <i class="fab fa-github-alt fa-fw"></i>
            <!--                     <fa-icon [icon]="['fab', 'github-alt']" [fixedWidth]="true"></fa-icon> -->
                              </span>github.com/dancsims
                            </a>
                          </li>

                          <li class="mb-3">
                              <a href="https://www.linkedin.com/in/daniel-sims-464b088a/" target="_blank">
                            <span class="fa-container text-center mr-2">
                                <i class="fab fa-linkedin-alt fa-fw"></i>
                            </span>linkedin.com</a>
                          </li>
            
            <!--          <li class="mb-3">
                            <a href="https://twitter.com/thewavelet_" target="_blank">
                              <span class="fa-container text-center mr-2">
                                <i class="fab fa-linkedin-in fa-fw"></i>
            <!--                     <fa-icon [icon]="['fab', 'twitter']" [fixedWidth]="true"></fa-icon> 
                              </span>twitter.com/thewavelet_
                            </a>
                          </li> -->
            
                          <!--<li class="mb-3">-->
                            <!--<a href="#">-->
                              <!--<span class="fa-container text-center mr-2">-->
                                <!--<i class="fab fa-codepen fa-fw"></i>-->
                              <!--</span>codepen.io/username/-->
                            <!--</a>-->
                          <!--</li>-->
            
            <!--        <li class="mb-3">
                            <a href="http://thewavelet.tistory.com" target="_blank">
                              <span class="fa-container text-center mr-2">
                                <i class="fas fa-globe"></i>
            <!--                     <fa-icon [icon]="['fas', 'globe']" [fixedWidth]="true"></fa-icon> 
                              </span>thewavelet.tistory.com</a>
                          </li> -->
                        </ul>
                      </div><!--//secondary-info-->
            
                    </div><!--//media-body-->
                </div><!--//media-->
            </header>
            <br><br>
            <div style="padding: 10px;">
                <div class="row">

                    <div class="col-12 col-md-8">
                        <h2>Experience<hr></h2>
                        <ul>
                            <h4 style="float: left">Speedway, LLC</h4> 
                            <h4 style="float: right">Enon, OH</h4>
                            <br style="clear:both">

                            <h5 style="float: left">Programmer Analyst - SQL Developer</h5>
                            <h5 style="float:right"><i>05/2013 - Present</i></h5>
                            <br style="clear:both">
                            <ul>
                                <li>Worked in multiple Technology First (Outstanding Technology Team 2016 and 2018) award winning Agile teams, one developing an internal iOS application with C# API that utilized SQL stored procedure calls and the other maintaining and improving the Speedy Rewards system</li>
                                <li>Mentored multiple DBAs for support role in the Corporate SQL environment</li>
                                <li>Developed for and supported high availability servers in a failover cluster</li>
                                <li>Supported Speedy Rewards SQL environment - deployed table partitioning on (1 Billion+ record) tables</li>
                                <li>Supported corporate SQL environment to maintain stability of all internal applications</li>
                                <li>Responsibilities included: On-Call Support for troubleshooting potential issues, monitored status of business critical SQL jobs, architecting new database systems, developed and modified new and existing databases, stored procedures, and all other database objects for new and existing applications, performance tuning SQL jobs and procedures, developing .Net applications </li>                           
                            </ul>
                            <br>

                            <h4 style="float: left">Production Control Units</h4> 
                            <h4 style="float: right">Moraine, OH</h4>
                            <br style="clear:both">

                            <h5 style="float: left">Contractor - Full Stack Developer</h5>
                            <h5 style="float:right"><i>01/2013 - 05/2013</i></h5>
                            <br style="clear:both">
                            <ul>
                                <li>Created both database backend and PHP/HTML frontend for multiple different applications</li>
                                <li>Responsibilities included: Met with clientele to create a list of requirements for multiple projects, unit tested work to ensure the code is accurate and bug free, delivered requirements to client within reasonable time frame</li>
                            </ul>
                            <br>

                            <h4 style="float: left">Wright State University</h4> 
                            <h4 style="float: right">Dayton, OH</h4>
                            <br style="clear:both">

                            <h5 style="float: left">Teaching Assisstant</h5>
                            <h5 style="float:right"><i>10/2012 - 12/2012</i></h5>
                            <br style="clear:both">
                            <ul>
                                <li>Assisted students and graded work for the Data Structures and Algorithms undergraduate class</li>
                            </ul>
                            <br>

                            <h4 style="float: left">Lion Apparel</h4> 
                            <h4 style="float: right">Dayton, OH</h4>
                            <br style="clear:both">

                            <h5 style="float: left">Help Desk Support Intern</h5>
                            <h5 style="float:right"><i>08/2010 - 09/2012</i></h5>
                            <br style="clear:both">
                            <ul>
                                <li>Provided desktop and phone support for corporate users, Imaged machines using Symantec Ghost 8.2</li>
                            </ul>
                        </ul>
                    </div>
                    
                    <div class="col-6 col-md-4"">
                        <h2>Skills<hr></h2>
                        <ul>
                            <h4>Languages</h4>
                            C++<br>
                            C#<br>
                            Swift<br>
                            DotNet<br>
                            Java<br>
                            JavaScript<br>
                            Ruby<br>
                            Python<br>
                            T-SQL<br><br>
                            <h4>Database Systems</h4>
                            Microsoft SQL Server<br>
                            MySQL
                        </ul>

                        <h2>Education<hr></h2>
                        <ul>
                            Master of Science in Data Analytics<br>
                            Western Governers University<br>
                            (2020 - Present)<br>
                            <br>
                            Bachelor of Science in Computer Science<br>
                            Wright State University<br>
                            (2009 - 2013)
                        </ul>

                        <h2>Certifications<hr></h2>
                        <ul>
                            CompTIA Security+ (Expired)
                        <!--   Base Programmer for SAS 9.4  -->
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <h2>Hobbies<hr></h2>
                        <ul>
                            3D Printing<br>
                            Warhammer 40k<br>
                            Dungeons & Dragons<br>
                            Magic the Gathering
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
  </section>

</article>